@import "tailwindcss";
@plugin "daisyui" {
	themes: corporate --default;
}
@plugin "daisyui/theme" {
	name: "corporate";
	default: true;
	--color-primary: #0a9396;
	--color-primary-darker: #002a39;
}

.menu-active {
	background-color: var(--color-primary);
}
