@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Satisfy&display=swap");

:root {
	--primary-colour: #0a9396;
	--danger-colour: #ae2012;
}

* {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

body {
	display: grid;
	grid-template-columns: 1fr 8fr;
	min-height: 100dvh;
}

main {
	display: flex;
	flex-direction: column;
}

main > header {
	padding: 1rem 2rem;
}

main > .content-section {
	flex: 1;
	padding-inline: 2rem;
}

.page-footer {
	border: 1px solid #ccc;
	padding: 1rem;
}

/* typography */
.page-title {
	font-size: 2rem;
	font-weight: 400;
}

/* ui elements */
button {
	background: none;
}

button,
input[type="submit"] {
	cursor: pointer;
	border-radius: 0.5rem;
	outline: none;
	border: none;
	padding: 0.5rem;
}

.primary-btn {
	background-color: #0a9396;
	border: 2px solid #0a9396;
	color: white;
}

.secondary-btn {
	background-color: white;
	border: 2px solid #0a9396;
	color: #0a9396;
}

.delete-btn {
	background-color: white;
	border: 2px solid var(--danger-colour);
	color: var(--danger-colour);
}

.cancel-btn {
	background-color: #f6f6f6;
	border: 2px solid #ccc;
}

.action-btn {
	font-size: 0.85rem;
}

/* navbar */
nav {
	background-color: #002a39;
	color: white;
	padding: 1.5rem 0.5rem;

	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.branding {
	place-self: center;
	display: flex;
	align-items: center;
	gap: 1rem;
}

.logo {
	min-width: 1.75rem;
	height: 1.75rem;
	margin-bottom: 0.25rem;
	color: #94d2bd;
}

.app-name {
	font-family: "Satisfy", cursive;
	font-size: 2rem;
}

nav > .links {
	list-style: none;
	padding: 0;

	display: flex;
	flex-direction: column;
}

nav > .links > li {
	width: 100%;
	padding: 1rem 1.25rem;
	border-radius: 0.5rem;

	&.active {
		background-color: var(--primary-colour);
	}
}

nav > .links a {
	color: inherit;
	text-decoration: none;
}

/* header */
main > header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

main > header > .buttons {
	display: flex;
	align-items: center;
	gap: 1.5rem;
}

button.close-btn {
	color: hsl(0, 0%, 80%);
}

/* tables */
table {
	width: 100%;
	border-collapse: collapse;
}

thead > tr {
	background-color: #f4f4f4;
}

td,
th {
	padding-inline: 2rem;
}

th {
	padding-block: 0.75rem;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-align: left;
	font-size: 0.75rem;
	text-transform: uppercase;
	opacity: 0.8;
}

td {
	padding-block: 0;
	border-bottom: 1px solid #e6e6e6;
}

td.buttons {
	padding: 1rem 1rem 1rem 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0.5rem;
}

td.buttons button {
	width: 100%;
}

.align-right {
	text-align: right;
}

td .decorative-text {
	opacity: 0.8;
	font-size: smaller;
}

/* forms */
textarea {
	resize: vertical;
}

form {
	max-width: 54rem;
}

form > ul {
	list-style: none;
	padding: 0;

	display: flex;
	flex-direction: column;
	gap: 1rem;
}

form > ul > li {
	display: grid;
	grid-template-columns: 9rem 1fr;
	gap: 2rem;
}

form > ul > li > .right {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.optional-input {
	display: flex;
	flex-direction: column;
}

.optional-input > small {
	font-size: 0.75rem;
	opacity: 0.6;
	font-style: italic;
}

/* errors */
.errors-container {
	background-color: hsl(5, 90%, 90%);
	color: var(--danger-colour);
	border: #9b2226;
	border-radius: 0.5rem;
	padding: 1.5rem 1.75rem;
	margin-bottom: 1rem;
}

.errors-container > h2 {
	font-size: 1.2rem;
}

/* footer */
.page-footer > .buttons {
	width: fit-content;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0.5rem;
}
