@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Satisfy&display=swap");

* {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

body {
	display: grid;
	grid-template-columns: 1fr 9fr;
	min-height: 100dvh;
}

main > header {
	padding: 1rem 2rem;
}

.page-title {
	font-size: 2rem;
	font-weight: 400;
}

/* navbar */
nav {
	background-color: #002a39;
	color: white;
	padding: 1.5rem;

	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.branding {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.logo {
	height: 1.75rem;
	margin-bottom: 0.25rem;
}

.app-name {
	font-family: "Satisfy", cursive;
	font-size: 2rem;
}

nav > ul {
	list-style: none;
	padding: 0;

	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

nav a {
	color: inherit;
	text-decoration: none;
}

/* tables */
table {
	width: 100%;
}

thead > tr {
	background-color: #f4f4f4;
	border-spacing: 0;
}

table td,
table th {
	padding: 1rem;
}

table th {
	text-align: left;
	font-size: 0.75rem;
	text-transform: uppercase;
	opacity: 0.8;
}
