@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Satisfy&display=swap");

* {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

body {
	display: grid;
	grid-template-columns: 1fr 8fr;
	min-height: 100dvh;
}

main > header {
	padding: 1rem 2rem;
}

/* typography */
.page-title {
	font-size: 2rem;
	font-weight: 400;
}

/* ui elements */
button {
	cursor: pointer;
	font-size: 0.9rem;
}

button.secondary-btn {
	background-color: white;
	border: 2px solid #0a9396;
	color: #0a9396;
}

button.delete-btn {
	background-color: white;
	border: 2px solid #ae2012;
	color: #ae2012;
}

/* navbar */
nav {
	background-color: #002a39;
	color: white;
	padding: 1.5rem;

	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.branding {
	place-self: center;
	display: flex;
	align-items: center;
	gap: 1rem;
}

.logo {
	min-width: 1.75rem;
	height: 1.75rem;
	margin-bottom: 0.25rem;
	color: #94d2bd;
}

.app-name {
	font-family: "Satisfy", cursive;
	font-size: 2rem;
}

nav > ul {
	list-style: none;
	padding: 0;

	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

nav a {
	color: inherit;
	text-decoration: none;
}

/* tables */
table {
	width: 100%;
	border-collapse: collapse;
}

thead > tr {
	background-color: #f4f4f4;
}

td,
th {
	padding: 0.5rem 2rem;
}

th {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-align: left;
	font-size: 0.75rem;
	text-transform: uppercase;
	opacity: 0.8;
}

td {
	border-bottom: 1px solid #e6e6e6;
}

td.buttons {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0.5rem;
}

tbody button {
	border-radius: 0.5rem;
	outline: none;
	border: none;
	padding: 0.25rem 0.5rem;
}
