@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Satisfy&display=swap");

:root {
	--primary-colour: hsl(181, 88%, 31%);
	--danger-colour: #ae2012;
	--danger-light-colour: hsl(5, 90%, 90%);
	--dark-grey-colour: #333;
}

* {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

body {
	display: grid;
	grid-template-columns: 1fr 8fr;
	min-height: 100dvh;
}

main {
	display: flex;
	flex-direction: column;
}

main > .content-section {
	flex: 1;
	padding-inline: 2rem;
}

.page-footer {
	border: 1px solid #ccc;
	padding: 1rem;
}

ul {
	list-style: none;
	padding: 0;
}

/* typography */
.page-title {
	font-size: 2rem;
	font-weight: 400;
}

/* ui elements */
.icon > svg {
	height: 1.5rem;
	width: 1.5rem;
}

.button-anchor-wrapper {
	text-decoration: none;
}

button {
	background: none;
}

button,
input[type="submit"] {
	cursor: pointer;
	border-radius: 0.5rem;
	outline: none;
	border: none;
	padding: 0.5rem;
}

.primary-btn {
	background-color: var(--primary-colour);
	border: 2px solid var(--primary-colour);
	color: white;
}

.secondary-btn {
	background-color: white;
	border: 2px solid var(--primary-colour);
	color: var(--primary-colour);
}

.delete-btn {
	background-color: white;
	border: 2px solid var(--danger-colour);
	color: var(--danger-colour);
}

.delete-btn-filled {
	background-color: var(--danger-colour);
	border: 2px solid var(--danger-colour);
	color: white;
}

.cancel-btn {
	background-color: #f6f6f6;
	border: 2px solid #ccc;
}

.action-btn {
	font-size: 0.85rem;
}

.add-btn {
	padding: 0.75rem 2rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;

	&:hover {
		filter: brightness(1.1);
	}

	&:active {
		transform: translateY(0.1rem);
	}

	transition:
		filter 0.25s ease-out,
		transform 0.1s ease-out;
}

/* navbar */
nav {
	background-color: #002a39;
	color: white;
	padding: 1.5rem 0.5rem;

	display: flex;
	flex-direction: column;
	gap: 2rem;
}

nav a {
	text-decoration: none;
	color: inherit;
}

.branding {
	place-self: center;
	display: flex;
	align-items: center;
	gap: 1rem;
}

.logo {
	min-width: 1.75rem;
	height: 1.75rem;
	margin-bottom: 0.25rem;
	color: #94d2bd;
}

.app-name {
	font-family: "Satisfy", cursive;
	font-size: 2rem;
}

.navlinks {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.navlink-wrapper {
	padding: 0;
	border-radius: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: background-color 0.25s ease-out;

	&.active {
		background-color: var(--primary-colour);
	}

	&:hover {
		background-color: hsl(181, 100%, 20%);

		.icon-btn {
			visibility: visible;
		}
	}
}

.navlink {
	flex: 1;
	padding: 1rem 1.5rem;
}

.icon-btn {
	visibility: hidden;
	height: 1.25rem;
	width: 1.25rem;
	color: var(--primary-colour);
	background-color: white;
	border-radius: 50%;
	padding: 0.25rem;
	transform: translateX(-100%);
}

/* header */
main > header {
	padding: 1rem 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

main > header > .buttons {
	display: flex;
	align-items: center;
	gap: 1.5rem;
}

button.close-btn {
	color: hsl(0, 0%, 80%);
}

/* tables */
table {
	width: 100%;
	border-collapse: collapse;
}

thead > tr {
	background-color: #f4f4f4;
}

tbody > tr {
	cursor: pointer;

	&:hover {
		background-color: hsl(45, 90%, 96%);
		transition: background-color 0.25s ease-out;
	}
}

td,
th {
	padding: 0.75rem 2rem;
}

th {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-align: left;
	font-size: 0.75rem;
	text-transform: uppercase;
	opacity: 0.8;
}

td {
	border-bottom: 1px solid #e6e6e6;
}

.align-right {
	text-align: right;
}

td .decorative-text {
	opacity: 0.8;
	font-size: smaller;
}

/* forms */
textarea {
	resize: vertical;
}

form {
	max-width: 54rem;
}

form > ul {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

form > ul > li {
	display: grid;
	grid-template-columns: 9rem 1fr;
	gap: 2rem;
}

form > ul > li > .right {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.optional-input {
	display: flex;
	flex-direction: column;
}

.optional-input > small {
	font-size: 0.75rem;
	opacity: 0.6;
	font-style: italic;
}

/* other ui elements on pages */
.categories-list {
	display: flex;
	flex-direction: column;
}

.category {
	display: flex;
	gap: 0.5rem;
	padding: 1.25rem;
	border-top: 1px solid #ccc;
}

.category:last-child {
	border-bottom: 1px solid #ccc;
}

.category-text-container {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

p.item-count {
	opacity: 0.75;
}

/* errors */
.errors-container {
	background-color: var(--danger-light-colour);
	color: var(--danger-colour);
	border: #9b2226;
	border-radius: 0.5rem;
	padding: 1.5rem 1.75rem;
	margin-bottom: 1rem;
}

.errors-container > h2 {
	font-size: 1.2rem;
}

/* footer */
.page-footer > .buttons {
	width: fit-content;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0.5rem;
}

/* modals */
::backdrop {
	background: black;
	opacity: 0.5;
}

dialog {
	padding: 0;
	max-width: 35rem;
	border: none;
	border-radius: 0.5rem;
	color: var(--dark-grey-colour);
}

dialog > .flex {
	display: flex;
	flex-direction: column;
}

dialog .inner {
	padding: 2rem;
}

dialog .heading-container {
	display: flex;
	align-items: flex-start;
	gap: 1rem;
}

dialog .heading-container > .icon {
	width: 3rem;
	height: 3rem;
	color: var(--danger-colour);
	background-color: var(--danger-light-colour);
	border-radius: 50%;
	display: grid;
	place-items: center;
	opacity: 0.75;
}

dialog h1 {
	font-weight: normal;
	margin-bottom: 1.5rem;
}

dialog footer {
	border-top: 1px solid #ccc;
}

dialog footer .buttons {
	width: 50%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0.5rem;
}

dialog footer .buttons button {
	width: 100%;
}
