<!DOCTYPE html>
<html lang="en">
  <head><%- include("../partials/helmet.ejs", {pageTitle: "Manage Your Categories"}) %></head>
  <body>
    <%- include("../partials/navbar.ejs") %>
    <main>
      <h1 class="page-title">All categories</h1>
    </main>
  </body>
</html>
