<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/helmet.ejs", {pageTitle: "Manage Your Categories"}) %>
  <body>
    <%- include("../components/navbar.ejs") %>
    <main>
      <h1 class="page-title">All categories</h1>
    </main>
  </body>
</html>
