<aside class="drawer-side shadow-sm">
  <label for="nav-drawer" aria-label="Close navigation sidebar" class="drawer-overlay"></label>
  <div class="bg-secondary min-h-full w-70 py-4 px-2 text-white">
    <div class="flex items-center gap-4 mb-6 p-6">
      <figure class="w-8">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-coffee stroke-primary">
          <path d="M10 2v2" />
          <path d="M14 2v2" />
          <path d="M16 8a1 1 0 0 1 1 1v8a4 4 0 0 1-4 4H7a4 4 0 0 1-4-4V9a1 1 0 0 1 1-1h14a4 4 0 1 1 0 8h-1" />
          <path d="M6 2v2" />
        </svg>
      </figure>
      <h1 class="text-4xl app-name">Inventory</h1>
    </div>
    <nav class="menu w-full">
      <ul>
        <% links.forEach((link) => { %>
        <li><%- include("./navLink.ejs", { link }); %></li>
        <% }); %>
      </ul>
    </nav>
  </div>
</aside>
<script src="/js/navScript.js"></script>