<a href="<%= link.route %>" class="navlink py-4 capitalize"><%= link.label %></a>
<!-- <a href="/categories/new" aria-label="Add new category of items">
<button type="button" class="icon-btn">
    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus">
    <path d="M5 12h14" />
    <path d="M12 5v14" />
    </svg>
    </button>
    </a> -->