<!DOCTYPE html>
<html lang="en">
  <%- include("partials/helmet.ejs", {pageTitle: "Manage Your Items"}) %>
  <body>
    <%- include("components/navbar.ejs") %>
    <main>
      <h1 class="page-title">All items</h1>

      <% if (Array.isArray(items) && items.length) { %>
      <ul>
        <% items.forEach((item) => { %>
        <li><%= JSON.stringify(item) %></li>
        <% }) %>
      </ul>
      <% } %>
    </main>
  </body>
</html>
