<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/css/output.css" />
<script src="/js/navScript.js" defer></script>
<title>
  <%= pageTitle || "Manage your coffee smarter" %> | Coffee Inventory
</title>
