<ul class="list border-base-200 divide-solid border border-solid">
  <% categories.forEach(category => { %>
  <a href="/categories/<%= category.id %>" class="hover:bg-neutral-100">
    <li class="list-row border-base-200 flex w-full gap-4 px-8">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-folder-icon lucide-folder stroke-teal-800"
      >
        <path
          d="M20 20a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2h-7.9a2 2 0 0 1-1.69-.9L9.6 3.9A2 2 0 0 0 7.93 3H4a2 2 0 0 0-2 2v13a2 2 0 0 0 2 2Z"
        />
      </svg>
      <div class="flex gap-2">
        <p><%= category.name %></p>
        <p class="opacity-50">
          (<%= itemCountPerCategory.get(category.id) %> <%=
          itemCountPerCategory.get(category.id) === 1 ? "item" : "items" %>)
        </p>
      </div>
    </li>
  </a>
  <% }) %>
</ul>
