<!DOCTYPE html>
<html lang="en">

<head><%- include("../../partials/helmet.ejs", {pageTitle: "Manage Your Categories"}) %></head>

<body>
  <%- include("../../components/navbar.ejs") %>
  <main>
    <header>
      <h1 class="page-title">All categories</h1>
    </header>

    <ul class="categories-list">
      <% categories.forEach(category => { %>
      <li class="category">
        <figure class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-folder-open-icon lucide-folder-open">
            <path d="m6 14 1.5-2.9A2 2 0 0 1 9.24 10H20a2 2 0 0 1 1.94 2.5l-1.54 6a2 2 0 0 1-1.95 1.5H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h3.9a2 2 0 0 1 1.69.9l.81 1.2a2 2 0 0 0 1.67.9H18a2 2 0 0 1 2 2v2" />
          </svg>
        </figure>
        <div class="category-text-container">
          <p><%= category.name %></p>
          <p class="item-count">(x items)</p>
        </div>
      </li>
      <% }) %>
    </ul>
  </main>
</body>

</html>