<!DOCTYPE html>
<html lang="en">
  <head><%- include("../../partials/helmet.ejs", {pageTitle: "Manage Your Categories"}) %></head>
  <body>
    <%- include("../../components/navbar.ejs") %>
    <main>
      <header>
        <h1 class="page-title">All categories</h1>
      </header>

      <ul class="categories-list">
        <% categories.forEach(category => { %> 
          <li class="category">
            <figure class="icon">
            </figure>
            <div class="category-text-container">
              <p><%= category.name %></p>
              <p class="item-count">(x items)</p>
            </div>
          </li>
        <% }) %>
      </ul>
    </main>
  </body>
</html>
