  <form action="<%= route %>" method="post" id="category-form">
    <ul>
      <li class="grid grid-cols-[9rem_1fr] gap-8 mb-4">
        <label for="nameInput">Category name*</label>
        <input type="text" id="nameInput" name="name" required class="input" />
      </li>
      <li class="grid grid-cols-[9rem_1fr] gap-8">
        <label for="descriptionInput" class="flex-col">
          <span>Description</span>
          <small class="opacity-50 italic">(Optional)</small>
        </label>
        <textarea class="textarea" id="descriptionInput" name="description" rows="6"></textarea>
      </li>
    </ul>
  </form>