<header>
  <h1 class="text-2xl">All items</h1>
  <a href="/items/new">
    <%- include("../../components/addNewButton.ejs", { text: "Add new item" }) %>
  </a>
</header>
<%- include("./itemsTable.ejs", { items }) %>