<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../../partials/helmet.ejs", {pageTitle: "Manage Your Items"})
    %>
  </head>
  <body>
    <%- include("../../partials/navbar.ejs") %>
    <main>
      <header><h1 class="page-title">All items</h1></header>
      <%- include("./itemsTable.ejs", {items}) %>
    </main>
  </body>
</html>
