<!DOCTYPE html>
<html lang="en">
  <%- include("../../partials/helmet.ejs", {pageTitle: "Edit Item"}) %>
  <body>
    <%- include("../../components/navbar.ejs") %>
    <main>
      <header>
        <h1 class="page-title" id="page-title">Edit item</h1>
        <div class="buttons">
          <button type="button" class="delete-btn">Delete item</button>
          <a href="/items" aria-label="Close item details and view all items">
            <button type="button" class="close-btn">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-x-icon lucide-x"
              >
                <path d="M18 6 6 18" />
                <path d="m6 6 12 12" />
              </svg>
            </button>
          </a>
        </div>
      </header>
      <section aria-labelledby="page-title"></section>
      <footer class="page-footer">
        <div class="buttons">
          <button type="button" class="primary-btn">Save</button>
          <a href="/items" aria-label="Close item details and view all items"
            ><button type="button" class="cancel-btn">Cancel</button></a
          >
        </div>
      </footer>
    </main>
  </body>
</html>
