<details class="primary-btn" role="button">
  <summary>Add item</summary>
  <ul>
    <li>
      <a href="/items/new">Add new item</a>
    </li>
    <li><a href="">Add existing item</a></li>
  </ul>
</details>