<dialog open>
  <header><h2>Leaving this page?</h2></header>
  <p>Unsaved changes will be discarded.</p>
  <footer>
    <ul>
      <li><button type="button">Leave & discard changes</button></li>
      <li><button type="button">Stay here</button></li>
    </ul>
  </footer>
</dialog>
