<dialog>
  <h1>Deleting item</h1>
  <p>
    You're about to delete this item. This action cannot be undone. Are you sure
    you would like to delete it?
  </p>
  <footer>
    <ul class="buttons">
      <li><button type="button" class="cancel-btn">No, keep it</button></li>
      <li>
        <button type="button" class="delete-btn-filled">Yes, delete</button>
      </li>
    </ul>
  </footer>
</dialog>
