<% if (locals.errors) {%>
<section class="errors-container">
  <h2>Please correct the following errors</h2>
  <ul>
    <% errors.forEach(error => {%>
    <li><%= error.msg %></li>
    <% })%>
  </ul>
</section>
<% } %>
