<header class="navbar bg-neutral-100 shadow-sm grid px-10">
  <div class="place-self-end">
    <div class="dropdown dropdown-end">
      <button class="btn btn-ghost btn-circle avatar" tabindex="0">
        <div class="w-10 rounded-full">
          <img src="/images/blank-avatar.jpg" alt="Avatar">
        </div>
      </button>
      <ul class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow" tabindex="-1">
        <li><a href="https://henrylin.io" target="_blank">Profile</a></li>
        <li><a href="https://github.com/henrylin03/" target="_blank">GitHub</a></li>
      </ul>
    </div>
  </div>
</header>